

    <header>
        <a href="home.html" class="logo">Remediium</a>
        <ul class="navlist">
            <li><a href="/">Home</a></li>
            <li><a href="/Search">Need Help?</a></li>
            <li><a href="/REMEDY">Find Remedies</a></li>
            <li><a href="/About">About</a></li>
            <li><a href="/Contact">Contact Us</a></li>
            <li><a href="/Team">Developers</a></li>
        </ul>

        <div class="bx bx-menu" id="menu-icon"></div>
    </header>
