<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
</head>
<body>
    <div class="container">
        
        <form action="REQ" method="POST">
            {% csrf_token %}
            <h2> Get The Hospital </h2>
            <input type="text" name="symptom" placeholder="Enter your disease.." required>
            <input type="text" name="city" placeholder="Enter your city.." required>
            <button type="submit">Search</button>
        </form><br><br>

       
    </div>

    

     
</body>
</html>
