<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remedies</title>
</head>
{% load static %} 
<body style="">
    <form action="REM" method="POST">{% csrf_token %}
        <input type="text" id="search" placeholder="Disease.." name="symptom" reqiured>
        
        <button type="submit">Submit</button>
    </form>

    <center><iframe src="{{x}}" title="{{x}}"></iframe></center>
  <img src="" alt="">
    <style>
        body{
            background: url({% static './1.jpg' %});
            background-size:cover;
        }
        iframe{
            width:80%;
            height:600px;
            margin:100px;
            background-color: aliceblue;
        }
    </style>
</body>
</html>